// Color Palette
$turquoise_1 : #56cfe1;
$turquoise_2 : #64dfdf;
$turquoise_3 : #72efdd;
$turquoise_4 : #07beb8;

$white_1 : #ffffff;

$gray_1 : #f8f9fa;
$gray_2 : #dee2e6;

//Font Style
$poppins : 'Poppins', sans-serif;
$ubuntu : 'Ubuntu', sans-serif;